{% extends 'admin index.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="allocatestaff" enctype="multipart/form-data">
  <table width="446" border="1">

    <tr>
       <td width="105">DATE</td>
      <td width="105">STAFF NAME</td>
      <td width="105">COLLEGE NAME</td>
      <td width="105">SUBJECT NAME</td>
        <td width="105">answersheet</td>
        <td width="105">status</td>
         <td width="105">score</td>

    </tr>
      {% for i in val  %}
    <tr>
      <td>&nbsp;{{ i.datetime }} </td>
      <td> {{ i.staff_id.name }} </td>
      <td> {{ i.staff_id.college_id.college_name }} </td>
      <td> {{ i.answersheet_id.exam_id.subject_id.subjects }} </td>
      <td> {{ i.answersheet_id.answerpapper }}</td>
        <td> {{ i.status }} </td>
         <td> {{ i.score }} </td>



      {% endfor  %}
  </table>
</form>
</body>
{% endblock %}
