{% extends 'admin index.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>login</title>
</head>

<body>
<form action="examschedule" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <table width="344" border="1">
      <tr>
        <td width="328" colspan="2">SUBJECT</td>
        <td width="328" colspan="2">COURSE</td>
        <td width="328" colspan="2">SEMESTER</td>
        <td width="328" colspan="2">DATE</td>
        <td width="328" colspan="2">TIME</td>


      </tr>
       {% for i in val %}
      <tr>
        <td width="328" colspan="2">{{ i.subject_id.subjects }}</td>
        <td width="328" colspan="2">{{ i.subject_id.course_id.course_name }}</td>
        <td width="328" colspan="2">{{ i.subject_id.semester }}</td>
        <td width="328" colspan="2">&nbsp;{{ i.date }}</td>
        <td width="328" colspan="2">{{ i.time }}</td>
      </tr>
       {% endfor %}

         <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="schedule exam" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
</form>
</body>
{% endblock %}
