<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>login</title>
</head>

<body>
<form action="addsubject" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <table width="344" border="1">
      <tr>
        <td>DEPARTMENT </td>
        <td>COLLEGE NAME</td>
          <td>COUIRSE </td>

          <td>SUBJECT </td>
        <td>SEMESTER</td>
          <td></td>
      </tr>
      {% for i in val %}

      <tr>
        <td width="328">&nbsp;{{ i.course_id.department_id.dept }}</td>
        <td width="328">{{ i.course_id.department_id.clgid.college_name }}</td>
           <td width="328">&nbsp;{{ i.course_id.course_name }}</td>
          <td width="328">&nbsp;{{ i.subject }}</td>
        <td width="328">&nbsp;{{ i.semester }}</td>
          <td><a href="{% url 'delete' id=i.id %}">delete</a></td>
      </tr>
      {% endfor %}
       <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="add subject" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
</form>
</body>
</html>
