<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="request_ansadd" enctype="multipart/form-data">
  <table width="446" border="1">

    <tr>
      <td width="103">NAME</td>
      <td width="105">SEMESTER</td>
      <td width="105">SUBJECT NAME</td>
        <td width="105">STATUS</td>
      <td width="105">DATE</td>
    </tr>
      {% for i in val  %}
    <tr>
      <td> {{ i.student_id.name }} </td>
      <td> {{ i.answersheet_id.exam_id.subject_id.semester }} </td>
      <td> {{ i.answersheet_id.exam_id.subject_id.subjects }} </td>
        <td> {% if i.status == 'approved' %}

          <a href="{{i.answersheet_id.answerpapper.url}}">download</a>
          {% else %}
          {{i.status}}

            {% endif %}











        </td>
      <td>&nbsp;{{ i.datetime }} </td>
    </tr>
      {% endfor  %}
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="addrequest" />
            </div>
        </label></td>
      </tr>
  </table>
</form>
</body>
</html>