<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>login</title>
</head>

<body>
<form action="updanswer" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <table width="344" border="1">
      <tr>
        <td colspan="2"><div align="center">ANSWER SHEET </div></td>
      </tr>
      <tr>
        <td width="86">Answer sheet </td>
        <td width="242"><label>
          <input type="file" name="file" />
        </label></td>
      </tr>
      <tr><td width="86">course </td>
       <td><select name="select" id="crs" required>
           <option value="">Select</option>
            {% for i in v %}
            <option value="{{i.id}}">{{i.course_name}}</option>
            {% endfor %}
      </select></td></tr>

      <tr><td width="86">student name </td>

      <td><select name="select1" id="stud">

      </select></td></tr>
      <tr>
        <td width="86">exam </td>

        <td><select name="select3">
            {% for i in val1 %}
            <option value="{{i.id}}">{{i.subject_id.subjects}}</option>
            {% endfor %}
      </select></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="Submit" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">

    $("#crs").change(function(){
    var sd;
     sd = $(this).val();
$.ajax(
    {
        type:"GET",
        url: "/searchcrs",
        data:{
                 dep: sd,
        },
        success: function( data )
        {
        var tab;
        tab='<option>Select</option>';
        for (var i=0, l=data.res.length; i<l; i++)
        {
        tab=tab+'<option value="'+data.res[i].id+'">'+data.res[i].name+'</option>'
        }

$('#stud').empty();
$('#stud').append(tab);
        }
     })

});

</script>
</html>

